<% include ./partials/head %>
<!-- todo: add all location details and format timestamp -->
<div class="uk-container uk-margin-left">

<h2><%= title %></h2>
<p> <%= location.address %></p>
<p> <%= location.rating %></p>
<ul class="uk-list">
	<% location.reviews.forEach(function(review){ %>
	<hr />
		<li>
			<span><%= review.author %></span>
			<p><%= review.reviewText %></p>
		</li>
		<span><%= review.createdOn %></span> <br />
		<hr />
	<% }) %>
	<a class="uk-button uk-button-success" href="/location/<%= location._id %>/reviews/new">Add review</a>
</ul>

</div> <!-- /uk-container -->
<% include ./partials/footer %>

